.alert {
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    position: relative;
}

.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.alert-dismissible .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.fade {
    transition: opacity 0.15s linear;
}

.show {
    opacity: 1;
}

.btn-toggle {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
    outline: none;
    overflow: hidden;
    /* Ensures no text is visible */
}

.btn-toggle.active {
    background-color: #387DDD;
}

.btn-toggle .toggle-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #EEE5CD;
    border-radius: 50%;
    top: 1px;
    left: 1px;
    transition: transform 0.3s;
}

.btn-toggle.active .toggle-icon {
    transform: translateX(20px);
}

/* Chrome, Edge, Safari */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
