@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;

  padding: 0px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.fit-screen {
  height: 100vh;
  /* Set the image height to 100% of viewport height */
  object-fit: cover;
  /* Maintain aspect ratio and cover the container */
}

.car-fit {
  width: 100%;
  /* or any custom size */
  height: 100%;
  object-fit: contain;
}

.card-shadow {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  /* Adjust the values for your desired shadow effect */
}

.card:hover {
  /* transform: scale(1.1); */
  /* Adjust the scaling factor as desired */
}

/* .card img {
  opacity: 85%;
} */

/* .card:hover img {
  opacity: 100%;
} */

.homepage .carousel-control-prev-icon {
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M6 0L2 4l4 4V0z'/%3E%3C/svg%3E");
}

.homepage .carousel-control-next-icon {
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2 0l4 4-4 4V0z'/%3E%3C/svg%3E");
}

.border-dark {
  border: 2px solid black;
}

/* image container for logo */
.image-container {
  max-width: 100%;
  /* Ensures the container doesn't exceed the width of its parent */
  max-height: 100%;
  /* Ensures the container doesn't exceed the height of its parent */
  display: flex;
  /* Optional: Aligns the image within the container */
  justify-content: center;
  /* Optional: Horizontally centers the image */
  align-items: center;
  /* Optional: Vertically centers the image */
}

.image-container img {
  max-width: 100%;
  /* Makes sure the image doesn't exceed the width of the container */
  max-height: 100%;
  /* Makes sure the image doesn't exceed the height of the container */
  height: auto;
  /* Allows the image to maintain its aspect ratio */
}

.justify {
  text-align: justify;
}

.brand {
  border-bottom: 3px solid #009688;
  padding-bottom: 7px;
}

.bg-color {
  background-color: #1b1f71;
}

.btn-call {
  background-color: #009688;
}

.btn-call a {
  color: #fff;
}

.btn-call:hover {
  border: 2px solid #128C7E;
  background-color: transparent;
}

.btn-call a:hover {
  color: #128C7E;
}

.btn-whatsapp {
  background-color: #25D366;
}

.dropdown-menu {
  border: none;
}

.service-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
}

.card-container {
  background: #ffffff1a;
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(3px);
}

/* style for sticky */

.sticky .navbar-nav .nav-item a:hover ,
.page-header .navbar-nav .nav-item a:hover {
  border-bottom: 3px solid #009688;
  color: #009688;
}

.navbar-nav .show .nav-link {
  color: #fff;
}


/* style for normal */

.page-header-home .navbar-nav .nav-item a:hover {
  border-bottom: 3px solid #fff;
  color: #fff;
}

.page-header .navbar-nav .nav-item a{
  color: #009688;
}


/* Set primary color for buttons */
.btn-primary {
  background-color: #009688;
  border-color: #009688;
}

.text-brand {
  color: #009688;
}

.btn-brand {
  background-color: #009688;
  border-color: #009688;
  color: white;
}

.btn-brand:hover {
  background-color: #00796b;
  border-color: #00796b;
  color: white;
}

.bg-brand {
  background-color: #009688;
}

.about .btn-brand {
  border-radius: 0px;
}

/* Set primary color for form controls */
.form-control:focus {
  border-color: #009688;
  box-shadow: 0 0 0 0.2rem rgba(255, 98, 37, 0.25);
}

footer li,
footer .nav-item,
footer .nav-link,
footer .contact span,
footer a,
.copyright,
footer h5 {
  color: #fff;
}

footer h5 {
  font-weight: bold;
}

footer a {
  position: relative;
  text-decoration: none;
}

footer a {
  position: relative;
  text-decoration: none;
  color: inherit;
  /* Maintain the initial color */
}

footer a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  /* Adjust this value to position the underline closer or further from the text */
  background: #fff;
  transition: width 0.3s;
}

footer a:hover,
footer .nav-link:hover {
  color: #fff;
  /* Change the text color to white on hover */
}

footer a:hover::after {
  width: 100%;
}



/* our team style start */
p,
a,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.section-team {
  padding: 80px 0;
}

.section-team .header-section .small-title {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 500;
  color: #009688;
}

.section-team .header-section .title {
  font-weight: 700;
  font-size: 45px;
}

.section-team .single-person {
  margin-top: 30px;
  padding: 30px;
  background-color: #f6f9ff;
  border-radius: 5px;
}

.section-team .single-person:hover {
  background: linear-gradient(to right, #07a794, #05b9a7);
}

.section-team .single-person .person-image {
  position: relative;
  margin-bottom: 50px;
  border-radius: 50%;
  border: 4px dashed transparent;
  transition: padding .3s;
}

.section-team .single-person:hover .person-image {
  padding: 12px;
  border: 4px dashed #fff;
}

.section-team .single-person .person-image img {
  width: 100%;
  border-radius: 50%;
}

.section-team .single-person .person-image .icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: linear-gradient(to right, #00796b, #009688);
  color: #fff;
  border-radius: 50%;
  font-size: 24px;
}


.section-team .single-person:hover .person-image .icon {
  background: none;
  background-color: #fff;
  color: #009688;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links a {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #009688;
  border-radius: 50%;
  font-size: 24px;
}

.section-team .single-person:hover .social-links a {
  color: #fff;
}

.section-team .single-person .person-info .full-name {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.section-team .single-person .person-info .speciality {
  text-transform: uppercase;
  font-size: 14px;
  color: #009688;
  text-align: center;
}

.section-team .single-person:hover .full-name,
.section-team .single-person:hover .speciality {
  color: #fff;
}

/* our team style end */

.page-title {
  font-weight: 700;
  font-size: 45px;
  text-align: center;
}



/* counter */

.stats-section {
  padding: 40px 0;
}

.stat-item {
  margin: 0 auto;
}

.stat-item h2 {
  font-size: 60px;
  font-weight: 700;
  /* Bold text */
  margin: 0;
  color: #fff;
}

.stat-item p {
  font-size: 24px;
  margin: 10px 0 0;
  color: #fff;
}


/* main style start */

.cBtn {
  border-radius: 100px;
  padding: 5px;
  height: 50px;
  width: 150px;
  font-size: 1rem;
  margin-right: 10px;
}

.btn-whatsapp:hover {
  border: 2px solid #25D366;
  color: #25D366;
}

.page-header-home{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 120;
  width: 100%;
}

.page-header{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 120;
  width: 100%;
}

.page-header-home .sticky,
.page-header {
  position: fixed;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  -webkit-animation: slideDown 0.35s ease-out;
  animation: slideDown 0.35s ease-out;
  width: 100%;
}

.page-header-home .sticky .fs-6 {
  color: #000;
}

.carousel {
  position: relative;
  z-index: 1;
}

.about-us p{
  font-size: 1rem;
}

.fs-6,
.btn-mob a {
  color: #fff;
}

@media (max-width: 576px) {
  .buttons {
    display: flex;
  }

  .cBtn {
    border-radius: 100px;
    padding: 5px;
    font-size: 1rem;
  }

  .buttons .btn-brand {
    width: 10rem;
  }

  .navbar-nav {
    background-color: #fff;
  }

  .navbar-toggler {
    border: none;
  }

  .navbar-toggler:focus {
    box-shadow: none;
    border-color: #ced4da;
    outline: none;
  }

  .btn-mob {
    display: none;
  }

  .fs-6 {
    color: black;
  }
}

/* main style end */

/* blogs style start */

.blogs-container h3 {
  font-weight: 700;
  color: #2c3e50;
}

.blogs-container .card {
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: none !important;
}

.blogs-container .card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blogs-container .card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.blogs-container .card-title {
  font-weight: bold;
  color: #2c3e50;
}

/* blogs style start */